body {
    font-family: "Pacifico", cursive, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.0;
    margin: 0; /* Loại bỏ margin mặc định của body */
    overflow: hidden; /* Ngăn chặn hiển thị scroll bar khi ảnh nền toàn màn hình */
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1; /* Đặt lớp z-index để nó ở phía sau nội dung chính */
    overflow: hidden; /* Ngăn chặn hiển thị scroll bar cho phần nền */
}
.background-image {
    width: 100%;
    height: 100%;
    opacity: .8;
    object-fit: cover; /* Hiển thị ảnh nền toàn màn hình */
    filter: blur(4px); /* Điều chỉnh mức độ mờ */
    pointer-events: none;
}
.container {
    text-align: center;
    margin-top: 10vh;
    padding: 0;
    position: relative; /* Cần thiết để có thể đặt z-index cao hơn */
    z-index: 0;
}
h1 {
    font-size: 76px;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 3px black;
}
h2 {
    font-size: 28px;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#yesButton {
    background-color: #FF9999; /* Màu đỏ nhạt cho nút Yes */
    font-size: 20px;
    margin: 30px;
}

#noButton {
    background-color: #66CCFF; /* Màu xanh da trời cho nút No */
    font-size: 20px;
    margin: 30px;
}

.swap-animation {
    transition: transform 0.2s ease-out;
}

.move-animation {
    transition: transform 0.2s ease-out;
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 48px;
        font-weight: normal;
        color: white;
        text-shadow: 3px 3px 3px black;
    }
    h2 {
        font-size: 18px;
        font-weight: normal;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    #yesButton {
        background-color: #FF9999; /* Màu đỏ nhạt cho nút Yes */
        font-size: 16px;
        margin: 30px;
    }

    #noButton {
        background-color: #66CCFF; /* Màu xanh da trời cho nút No */
        font-size: 16px;
        margin: 30px;
    }
}