body {
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.0;
    margin: 0; /* Loại bỏ margin mặc định của body */
    overflow: hidden; /* Ngăn chặn hiển thị scroll bar khi ảnh nền toàn màn hình */
}
.swal2-shown > [aria-hidden='true'] {
    transition: 0.2s filter;
    filter: blur(4px);
}
.swal2-title, .swal2-content{
    color: azure !important;
}
.swal2-popup {
    border-radius: 15px !important;
}
.swal2-actions {
    margin-top: 10px;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1; /* Đặt lớp z-index để nó ở phía sau nội dung chính */
    overflow: hidden; /* Ngăn chặn hiển thị scroll bar cho phần nền */
}
.background-image {
    width: 100%;
    height: 100%;
    opacity: .8;
    object-fit: cover; /* Hiển thị ảnh nền toàn màn hình */
    filter: blur(4px); /* Điều chỉnh mức độ mờ */
    pointer-events: none;
}
.container {
    text-align: center;
    margin-top: 10vh;
    padding: 0;
    position: relative; /* Cần thiết để có thể đặt z-index cao hơn */
    z-index: 0;
}
#header {
    font-family: "Pacifico";
    font-size: 76px;
    font-weight: normal;
    color: white;
    text-shadow: 3px 3px 3px black;
}
#header2 {
    font-family: "Pacifico";
    font-size: 28px;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

button {
    font-family: Arial;
    box-shadow: 2px 2px 2px black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.1s;
}

#yesButton {
    font-weight: bold;
    background-color: #FF9999; /* Màu đỏ nhạt cho nút Yes */
    font-size: 20px;
    margin: 25px;
}

#noButton {
    font-weight: bold;
    background-color: #66CCFF; /* Màu xanh da trời cho nút No */
    font-size: 20px;
    margin: 25px;
}

.swap-animation {
    transition: transform 0.1s ease-out;
}

.move-animation {
    transition: transform 0.1s ease-out;
}

.messageInput {
    font-family: Segoe UI;
    padding: 10px;
    /*margin-bottom: 20px;*/
    width: 800px;
    /*height: 100px;*/
    font-size: 18px;
    transition: width 0.5s;
}

@media only screen and (max-width: 500px) {
    #header {
        font-size: 50px;
        font-weight: normal;
        color: white;
        text-shadow: 3px 3px 3px black;
    }
    #header2 {
        font-size: 20px;
        font-weight: normal;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    #yesButton {
        background-color: #FF9999; /* Màu đỏ nhạt cho nút Yes */
        font-size: 16px;
        margin: 25px;
    }

    #noButton {
        background-color: #66CCFF; /* Màu xanh da trời cho nút No */
        font-size: 16px;
        margin: 25px;
    }

    .messageInput {
        font-family: Segoe UI;
        padding: 10px;
        /*margin-bottom: 20px;*/
        width: 150px;
        /*height: 40px;*/
        font-size: 14px;
        transition: width 0.5s;
    }
}